@import "reset"

$background: lighten(rgba(52, 73, 94,1.0), 0.6)
$neutral-cc: #ecf0f1
$t-secondary: #aaa
$t-primary: #666

*
  box-sizing: border-box
  -moz-box-sizing: border-box

html
  font-size: 16px

body
  background: $background
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333

.card
  position: relative
  width: 25em //400
  height: 15em //240
  margin: 3em auto
  padding: 2.8125em 1.5em 1.875em
  background: $neutral-cc
  border-radius: 0.75em
  box-shadow: 3px 4px darken($neutral-cc, 15%)

  .chip
    display: block
    margin: 1.25em 0 .625em 0

  .card-number
    float: left

  .securitycode
    float: right

  article
    display: inline-block

  small
    display: block
    font-family: Helvetica Neue
    color: $t-secondary
    font-size: 0.75em
    margin: 2px 0 0 0
  input.s_textfield
    padding: 0.25em 0.375em
    width: 3.4375em //55
    border-radius: 0.1875em //3
    border: 1px solid darken($neutral-cc, 15%)
    font-size: 1.125em //18
    line-height: 1.125em
    font-family: Helvetica
    font-weight: bold
    color: $t-primary
    &:focus
      background: lighten($neutral-cc, 10%)
      outline: none
      border-color: rgba(241, 196, 15,0.8)

  input.l_textfield
    @extend input.s_textfield
    width: 120%
    margin: 0.625em 0 0 0 //10

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0
